<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<style>
    td{
        border: 1px solid black;
    }
    textarea{
        width: 400px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <h1>Admin</h1>
    <div th:if="${param.notLoggedIn}">
        <form action="/admin/login" method="post">
            <input type="password" name="password">
            <input type="submit" value="login">
        </form>
    </div>
    <div th:if="${param.noAdmin}">
        <p>There is no Admin</p>
    </div>
    <div th:if="${param.wrongPassword}">
        <p>Wrong password</p>
    </div>
    <div th:unless="${param.notLoggedIn}">
        <h2>Title</h2>
        <p>
            <form method="post" action="/admin/changeTitle">
                <input type="text" name="title" placeholder="Enter title">
                <input type="submit" value="add">
            </form>
        </p>
        <p th:text="${title.title}"></p>
        <p>
            <form method="post" action="/admin/changeProjectsTitle">
                <input type="text" name="projectsTitle" placeholder="Enter projects title"/>
                <input type="submit" value="add">
            </form>
        </p>
        <p th:text="${title.projectsTitle}"></p>
        <p>
            <form method="post" action="/admin/changeProjectsDescription" id="projectsDescriptionForm">
                <textarea name="projectsDescription" placeholder="Enter projects description"
                th:text="${title.projectsDescription}" class="adjustableSize"></textarea>
                <input type="submit" value="change">
            </form>
        </p>
        <h2>Socials</h2>
        <p>
            <form method="post" action="/admin/addSocial">
                <input type="text" name="text" placeholder="Enter text"/>
                <input type="text" name="href" placeholder="Enter href"/>
                <input type="text" name="icon" placeholder="Enter icon"/>
                <input type="submit" value="add">
            </form>
        </p>
        <table>
            <tbody>
                <tr th:each="social: ${socials}">
                    <td
                        th:text="${social.text}">
                    </td>
                    <td
                        th:text="${social.href}">
                    </td>
                    <td
                        th:text="${social.icon}">
                    </td>
                    <td>
                        <form method="post" action="/admin/deleteSocial">
                            <input type="hidden" name="id" th:value="${social.id}">
                            <input type="submit" value="delete">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Projects</h2>
        <p>
            <form method="post" action="/admin/addProject">
                <input type="text" name="text" placeholder="Enter text">
                <input type="text" name="href" placeholder="Enter href">
                <input type="text" name="description" placeholder="Enter description">
                <input type="submit" value="add">
        </p>
        <table>
            <tbody>
                <tr th:each="project: ${projects}">
                    <td
                        th:text="${project.text}">
                    </td>
                    <td
                        th:text="${project.href}">
                    </td>
                    <td>
                        <form method="post" action="/admin/changeProjectDescription">
                            <input type="hidden" name="id" th:value="${project.id}">
                            <textarea name="description" th:text="${project.description}"></textarea>
                            <input type="submit" value="change">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/admin/deleteProject">
                            <input type="hidden" name="id" th:value="${project.id}">
                            <input type="submit" value="delete">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Favicon</h2>
        <p>
            <form method="post" action="/admin/changeFavicon" enctype="multipart/form-data">
                <input type="file" name="favicon">
                <input type="submit" value="upload">
            </form>
            <img src="/favicon.ico"/>
        </p>
        <h2>Image</h2>
        <p>
            <form method="post" action="/admin/changeImage" enctype="multipart/form-data">
                <input type="file" name="image">
                <input type="submit" value="upload">
            </form>
            <img src="/image"/>
        </p>
    </div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    //adjust size of project description textarea according to content every time the page is loaded
    $("textarea").each(function () {
        $(this).height(0);
        $(this).height(this.scrollHeight);
    });
    //adjust size of project description textarea according to content every time text is changed
    $("textarea").on("input", function () {
        $(this).height(0);
        $(this).height(this.scrollHeight);
    });

</script>
</body>
</html>