<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
    <head>
        <title th:text="${title.title}"></title>
        <style>
            div{
                float: left;
            }
            .space{
                padding-left: 10%;
                padding-top: 5%;
            }
        </style>
    </head>
    <body>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <div>
                    <img src="/image" alt=""/>
                </div>
                <div>
                    <table>
                        <tbody>
                            <tr th:each="social: ${socials}">
                                <td>
                                    <a th:href="${social.href}" th:utext="|${social.icon}${social.text}|"></a>
                                </td>
                        </tbody>
                    </table>                   
                </div>
                <div class="space">
                    <h2 th:text="${title.projectsTitle}"></h2>
                    <table>
                        <tbody>
                            <tr th:each="project: ${projects}">
                                <td>
                                    <a th:text="${project.text}" th:href="${project.href}"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </body>
</html>