<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
    <head>
        <title th:text="${title.title}"></title>
        <style>
            .floatleft{
                float: left;
            }
            .vspace{
                padding-left: 10%;
            }
            .hspace{
                padding-top: 10%;
            }
            .divtext{
                width: 400px;
                overflow: auto;
                
            }
        </style>
    </head>
    <body>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                <div class="floatleft">
                    <img src="/image"/>
                </div>
                <div id="socials" class="floatleft">
                    <table>
                        <tbody>
                            <tr th:each="social: ${socials}">
                                <td>
                                    <a th:href="${social.href}" th:utext="|${social.icon}${social.text}|"></a>
                                </td>
                        </tbody>
                    </table>                   
                </div>
                <div id="projects" class="floatleft">
                    <h2 th:text="${title.projectsTitle}"></h2>
                    <div th:text="${title.projectsDescription}" class="divtext"></div>
                    <table>
                        <tbody>
                            <tr th:each="project: ${projects}">
                                <td>
                                    <h3><a th:text="${project.text}" th:href="${project.href}"></a></h3>
                                    <div th:text="${project.description}" class="divtext"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </body>
    <script>
        //Add vspace to projects if they are on the right of socials
        //Add hspace to projects if they are under socials
        function updateProjects(){
            var projects = document.getElementById("projects");
            projects.classList.remove("vspace");
            projects.classList.remove("hspace");
            projects.style.width = "auto";
            if(projectsOnRightOfSocials()){
                projects.classList.add("vspace");
            }
            if(projectsUnderSocials()){
                projects.classList.add("hspace");
                //if vspace is also set, remove it and increase the width by 10% of the screen
                //to make sure the projects do not jump back to the right of the socials where they do not fit
                projects.classList.remove("vspace");
                projects.style.width = projects.getBoundingClientRect().width + window.innerWidth * 0.1 + "px";
            }
        }

        window.onload = function(){
            updateProjects();
        }
        window.onresize = function(){
            updateProjects();
        }

        //check if the projects are on the right of the socials
        function projectsOnRightOfSocials(){
            var projectsBounding = document.getElementById("projects").getBoundingClientRect();
            var socialsBounding = document.getElementById("socials").getBoundingClientRect();
            return projectsBounding.left >= socialsBounding.right && projectsBounding.top < socialsBounding.bottom && projectsBounding.bottom > socialsBounding.top;
        }

        //check if the if the projects are directly under the socials
        function projectsUnderSocials(){
            var projectsBounding = document.getElementById("projects").getBoundingClientRect();
            var socialsBounding = document.getElementById("socials").getBoundingClientRect();
            return projectsBounding.left < socialsBounding.right && projectsBounding.right > socialsBounding.left && projectsBounding.top >= socialsBounding.bottom;
        }
    </script>
</html>